##################################
# Visual Studio 관련
##################################
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

##################################
# 빌드 관련
##################################
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

##################################
# 설정 및 키 관련
##################################
API 키.txt
구글 앱.txt
settings.txt
appsettings.json
settings.json

##################################
# Chrome 드라이버 및 외부 도구
##################################
chromedriver.exe
chromedriver.log

##################################
# 임시 및 백업 파일
##################################
*.tmp
*.bak
~$*

##################################
# 기타
##################################
*.db
*.sqlite
*.zip
*.7z
*.rar
